<!-- app/views/pokedex/show.html.erb -->

<div class="pokedex">
  <div class="left-container">
    <div class="left-container__top-section">
      <div class="top-section__blue"></div>
      <div class="top-section__small-buttons">
        <div class="top-section__red"></div>
        <div class="top-section__yellow"></div>
        <div class="top-section__green"></div>
      </div>
    </div>
    <div class="left-container__main-section-container">
      <div class="left-container__main-section">
        <div class="main-section__white">
          <div class="main-section__black">
            <div class="main-screen">
              <div class="screen__header">
                <span class="poke-name"><%= @pokemon[:name] %></span>
                <span class="poke-id">#<%= @pokemon[:id] %></span>
              </div>
              <div class="screen__image">
                <img src="<%= @pokemon[:image_url] %>" class="poke-front-image" alt="front">
                <!-- Adicione aqui a imagem de costas se houver -->
              </div>
              <div class="screen__description">
                <div class="stats__types">
                  <% @pokemon[:types].each do |type|%>
                    <span class="poke-type"><%= type %></span>
                  <% end %>
                </div>
                <div class="screen__stats">
                  <p class="stats__weight">weight: <span class="poke-weight"><%= @pokemon[:weight] %></span></p>
                  <p class="stats__height">height: <span class="poke-height"><%= @pokemon[:height] %></span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="left-container__controllers">
          <!-- ... (mantenha os botões e o D-pad como estão) ... -->
        </div>
      </div>
    </div>
  </div>
  <div class="right-container">
    <div class="right-container__black">
      <div class="right-container__screen">
        <!-- Adicione os itens da lista dinamicamente -->

      </div>
    </div>
    <div class="right-container__buttons">
      <div class="left-button">Prev</div>
      <div class="right-button">Next</div>
    </div>
  </div>
</div>


<%= link_to 'Voltar', pokedex_path %>

